.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.7rem 2rem;
    font-size: 1.3rem;
    background: var(--color-bg-header);
    border-bottom: 1px solid var(--color-border);
    transition: all 0.5s;
}
.mode {
    cursor: pointer;
    display: flex;
}
.mode svg {
    font-size: 1.3rem;
    color: var(--color-text);
    transition: all 150ms ease-out;
}
.mode svg:hover {
    transform: scale(1.2);
    filter: brightness(150%);
}

.filter {
    display: flex;
    color: var(--color-bg-button-inactived);
    font-weight: bold;
}
.filter span {
    cursor: pointer;
    transition: all 150ms ease-out;
}
.filter > span + span {
    margin-left: 1.3rem;
}
.filter > span.active {
    color: var(--color-bg-button-actived);
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
}

.filter span:hover {
    color: var(--color-bg-button-actived);
    opacity: 0.8;
}
