:root {
  --color-black: #000;
  --color-white: #fff;

  --color-text: #475569;

  --color-bg: #334155;
  --color-bg-header: #e2e8f0;
  --color-bg-main: #f1f5f9;
  --color-bg-button-actived: #f97316;
  --color-bg-button-inactived: #fdba74;
  --color-border: #cbd5e1;

  --color-bg-check-actived: #64748b;
  --color-bg-check-inactived: #cbd5e1;

  --color-scrollbar: #cbd5e1;
  --color-scrollbar-actived: #94a3b8;

  --shadow: rgba(0,0,0,0.7);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  /* padding 합하여 계산됨 */
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
/* 스크롤바 막대 꾸미기 */
::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
}

/* 스크롤바 트랙 꾸미기 */
::-webkit-scrollbar-track {
	background-color: var(--color-bg-main);
}
::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-scrollbar-actived);
}